
:root{
    --white: #ffffff;
    --dark: #444141;
    --primary: #00B341;
    --secundary: #DE9100;
    --secundarydos: #f8cd7c;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%; 
}

*{
    box-sizing:border-box;
}

body{
    background-image: linear-gradient(var(--white), var(--secundarydos));
}

h1{
    font-size: 4rem;
}

h1 span{
    font-size: 2rem;
}

h2{
    font-size: 3rem;
    text-align: center;
    color: var(--dark);
}

p{
    font-size: 1.5rem;
}

h1{
    text-align: center;
    margin: 0.5rem;
    color: var(--dark);
    font-weight: bolder;
}

.Navegacion{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px){
    .Navegacion{
    flex-direction:row;
    justify-content:space-around;
    }
}
.Navegacion a{

    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.Navegacion a:hover{
    color: var(--dark);
    background-color: var(--secundarydos);
}
.banner{
    background-image: url('../img/programming-background-with-person-working-with-codes-computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

img{
    width: 5rem;
}

.section-banner{
    background-color: rgba(0, 0, 0, 0, 5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-banner p,
.section-banner h2{
    color: var(--white);
}

.boton{
    background-color: var(--secundary);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px){
    .boton{
        width: auto;
    }
}

.center-vertical{
    display: flex;
    gap: 1rem;
}

main{
    background-color: var(--white);
    max-width: 1200px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 9px 10px 27px -1px rgba(0,0,0,0.75);
}

.container-servicios{
display: flex;
flex-direction: column;
gap: 1rem;
}

@media(min-width:480px){
    .container-servicios{
        flex-direction: row;
    }
}

.div-servicios{
    text-align: center;
    border: 1px solid rgb(0, 0, 0, 0.16);
}

.div-servicios h3{
    color:var(--primary);
    font-size: 1.5rem;
}

.div-servicios img{
    height: 7rem;
    width: 7rem;
    background-color: var(--secundary);
    padding: 1rem;
    border-radius: 50%;
}

.div-servicios p{
    line-height: 2;
    margin: 1rem;
    text-align: justify;
    font-size: 1.3rem;
}

.formulario{
    background-color: var(--dark);
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 5px;
}

.formulario legend{
    color: var(--secundary);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.container-input{
    margin-bottom: 1rem;
}
.container-input label{
    color: var(--white);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.5rem;
}
.container-input input, textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: none;

}

input[type="submit"]{
    width: 100%;
    border: none;
}

@media(min-width:480px){
    input[type="submit"]{
        width: auto;
    }
}

@media(min-width:768px){
    .inputs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto auto;
        column-gap: 1rem;
    }
}

.container-input:nth-child(3),
.container-input:nth-child(4){
    grid-column: 1/3;
}

footer{
    
    margin-bottom: 2rem;
}
footer p{
    text-align: center;
    font-size: 1.5rem;
}
footer span{
    color: var(--primary);
    font-size: 2rem;
}